*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: grid;
}

h1{
    display: grid;
    justify-content: center;
    padding: 2rem;
}
h3{
    display: grid;
    justify-content: left;
    padding: 3rem;
}
.about-content{
    display: grid;
    grid-template-columns: 2 2fr;

}
.about-me-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem;
    width: 50%;
}
.self-photo-wrapper{
    display: flex;
}

.self-photo{
    display: flexbox;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 7px;
    width: 300px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem;
}
.icons img{
    width: 150px;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem;
}
.projects img{
    width: 200px;
    border-radius: 7px;
}

