:root{
    --color-1: #61E786;
    --color-2: #A69888;
    --color-3: #4F518C;
    --color-4: #2C2A4A;
    --color-5: #7FDEFF;
}
body{
    background-color: var(--color-4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.dropdown-nav{
    font-style: italic;
    color: var(--color-1);
    
}