:root{
    --color-1: #eed7c5;
    --color-2: #c89f9c;
    --color-3: #c97c5d;
    --color-4: #B36A5e;
    --color-5: #EEE2DF;
}



body{
    background-color: var(--color-4);
    font-family: Montserrat;
    
}
.dropdown{
    float: left;
    overflow: hidden;
    background-color: var(--color-4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown a{
    float: left;
    font-size: 16px;
    color: var(--color-1);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.dropdown-content{
    display: none;
    position: absolute;

}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown .dropdown-button{
    border: none;
    outline: none;
    color: var(--color-2);
    padding: 1rem;
    background-color: inherit;
    margin: 0;
}
h1{
    color: var(--color-2);
}
h3{
    color: var(--color-2);
}
.self-photo-wrapper{
    border: solid var(--color-2);
    border-radius: 7px;
    margin: 20px;
    padding: 2rem;
}
p{
    color: var(--color-5);
}